- name: Build Alpine package in Docker
    uses: addnab/docker-run-action@v3
    with:
      image: alpine:latest
      options: -v ${{ github.workspace }}:/workspace
      run: |
        set -e
        apk update
        apk add gcc libc-dev curl-dev cjson-dev abuild fakeroot

        RELEASE_VERSION="${GITHUB_REF#refs/tags/v}"

        cd /workspace
        gcc aslookup.c -o aslookup -lcurl -lcjson -lresolv

        mkdir -p alpinepkg
        cp aslookup alpinepkg/

        adduser -D builder
        chown -R builder:builder alpinepkg

cat <<EOF > alpinepkg/APKBUILD
Contributor: Niel Nielsen nieldk@gmail.com
pkgname=aslookup pkgver=${RELEASE_VERSION} pkgrel=1 pkgdesc="ASN lookup utility" url="https://github.com/nieldk/aslookup" arch="x86_64" license="MIT" depends="libc6 curl cjson" source="aslookup" builddir="$PWD" package() { install -Dm755 $srcdir/aslookup $pkgdir/usr/local/bin/aslookup } EOF
        chown builder:builder alpinepkg/APKBUILD

        su builder -c "cd /workspace/alpinepkg && abuild-keygen -a -n && fakeroot abuild -r"

        APK_FILE=$(find /workspace/alpinepkg -name '*.apk' | head -n 1)
        cp "${APK_FILE}" /workspace/aslookup_${RELEASE_VERSION}_x86_64.apk

  - name: Upload .apk to release
    uses: softprops/action-gh-release@v2
    if: startsWith(github.ref, 'refs/tags/')
    with:
      files: aslookup_${{ env.RELEASE_VERSION }}_x86_64.apk
    env:
      GITHUB_TOKEN: ${{ secrets.GH_PAT }}
