name: Build and Release aslookup (Linux)

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc libcurl4-openssl-dev libcjson-dev

      - name: Compile aslookup.c
        run: |
          gcc aslookup.c -o aslookup -lcurl -lcjson -lresolv

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: aslookup
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
